<html>
    <head>
        <title>Web IRC</title>
        <link rel="shortcut icon" href="/assets/favicon.ico" />
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <div class="mt-2"><span class="mx-2">WebIRC</span><hr class="m0"></div>
        <div id="chat"></div>
        <div id="bottom" class="row-fluid">
            <input type="text" id="chat-input" placeholder="Write a message" autofocus class="col-11"><button id="chat-send" onclick="sendMessage()" class="col-1">Send</button>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js" integrity="sha512-YybopSVjZU0fe8TY4YDuQbP5bhwpGBE/T6eBUEZ0usM72IWBfWrgVI13qfX4V2A/W7Hdqnm7PIOYOwP9YHnICw==" crossorigin="anonymous"></script>
        <script>
            var input = document.getElementById("chat-input");

            // entera basınca otomatik olarak mesajı gönder
            input.addEventListener("keyup", function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("chat-send").click();
                }
            });

            var socket = io();
            var nickname = sessionStorage["nickname"] ? sessionStorage.getItem("nickname") : "";

            function sendMessage () {
                let message = input.value;
                  
                // if message is empty space
                if (!message || message.length === 0 || /^\s*$/.test(message)) {
                    input.value = "";
                    return;
                }

                // check if message is a command
                if (message.startsWith("/")) {
                    if (message.startsWith("/nick")) {
                        message = message.split(" ");
                        nickname = message[1];
                        sessionStorage.setItem("nickname", nickname);
                    }
                }
                else {
                    if (nickname !== "") {
                        socket.emit("message", JSON.stringify({"nickname": nickname, "message": message}));
                    }
                    else {
                        alert("set nickname with /nick");
                    }
                }

                // clear input
                input.value = "";
                input.focus();
            }

            socket.on("new_message", (data) => {
                data = JSON.parse(data);
                document.getElementById("chat").innerText +=  `<${data.nickname}> ` + data.message;
                document.getElementById("chat").innerHTML += "<br>";
            });
        </script>
    </body>
</html>
